{% extends 'share_layout/base.html' %}
{% load fullurl %}
{% load dashboard_extras %}

{% block header %}
    <title>注册 | 甲醛克星网</title>
{% endblock %}

{% block primary %}
    <style type="text/css">
        body {
          background: url({% fullstatic 'members/images/beijing001.jpg' %})
        }
    </style>
    <style type="text/css">
        #primary {
            width: 100%;
            height: 700px;
            box-shadow: none;
        }

        #primary .page {
            background: transparent !important;
            padding: 0 !important;
            border: none !important;
            box-shadow: none !important;
        }

        #primary .single-content {
            float: left;
            width: 50%;
            font-size: 16px;
            color: #fff;
            margin: 30px 0 0 0;
            padding: 10px 10px 10px 30px;
        }

        .reg-main {
            margin: 30px 0 0 0;
        }

        .user_reg {
            float: right;
            width: 70%;
        }

        .reg-page {
            position: relative;
            float: left;
            width: 50%;
            height: 500px;
            padding: 10px 30px 10px 10px;
            border-right: 1px dashed #ccc;
        }

        .reg-page p {
            text-indent: 0em;
        }

        p.user_error {
            position: fixed;
            top: 100px;
            left: 0;
            background: #fff;
            margin: 16px 0;
            padding: 10px 10px 0 10px;
            border-radius: 2px;
            border: 1px solid #f3f3f3;
        }

        .user_error .be-info {
            color: #ff0129;
            margin: 0 5px 0 0;
        }

        .shut-error {
            float: right;
            color: #e73c31;
            padding: 5px;
            display: block;
            cursor: pointer;
        }

        p.user_is {
            width: 300px;
            color: #fff;
            line-height: 40px;
            text-align: center;
            margin: 50px auto;
            padding: 12px;
        }

        .user_is a {
            background: #e73c31;
            color: #fff;
            padding: 5px 10px;
            border: 1px solid #e73c31;
            border-radius: 2px;
            -webkit-appearance: none;
        }

        .user_is a:hover {
            background: #fb5548;
            border: 1px solid #fb5548;
            transition: all 0.2s ease-in 0s;
        }

        .user_is img {
            margin: 0 auto;
        }

        .user_reg label {
            color: #fff;
            cursor: pointer;
        }

        .user_reg .input {
            background: #fff;
            width: 70%;
            margin: 5px 0;
            padding: 5px 10px;
            border: 1px solid #ddd;
            border-radius: 2px;
            -webkit-appearance: none;
        }

        .reg-page #submit {
            background: #e73c31;
            font-size: 16px;
            color: #fff;
            width: 100px;
            margin: 10px 10px 10px 0;
            padding: 6px;
            cursor: pointer;
            border: 1px solid #e73c31;
            border-radius: 2px;
            -webkit-appearance: none;
        }

        .reg-page #submit:hover {
            background: #fb5548;
            border: 1px solid #fb5548;
            transition: all 0.2s ease-in 0s;
        }

        .to-code a {
            background: #e73c31;
            color: #fff;
            padding: 6px;
            border: 1px solid #e73c31;
            border-radius: 2px;
            -webkit-appearance: none;
        }

        .to-code a:hover {
            background: #fb5548;
            border: 1px solid #fb5548;
            transition: all 0.2s ease-in 0s;
        }

        .droperror {
            color: #fff;
        }

        #scroll .scroll-c,
        .tg-site {
            display: none;
        }

        .reg-error {
            color: #fff;
            font-size: 16px;
            font-size: 1.6rem;
            text-align: center;
            margin: 50px 0;
        }

        @media screen and (max-width: 900px) {
            #primary .single-content {
                display: none;
            }
            .reg-page {
                width: 100%;
                padding: 10px;
                border-right: none;
            }
            .user_reg {
                float: inherit;
            }
            .user_reg {
                width: 100%;
            }
            .to-code {
                width: 90px;
                display: block;
            }
        }

        .si_captcha_small {
            margin: 0 0 10px 0;
        }
    </style>

    <div id="primary" class="content-reg">
        <main id="main" class="site-main" role="main">
            <article id="post-101" class="post-101 page type-page status-publish hentry qvw">
                <div class="reg-main">
                    <div class="reg-page">
                      {% if request.user.is_authenticated %}
                        <p class="user_is">
                            欢迎 <strong>{{ request.user.username }}</strong><br>
                            <a href="{% url "members:logout" %}" title="">退出登录</a>
                            &nbsp;&nbsp;<a href="{% url 'members:member' %}">用户中心</a>
                        </p>
                      {% else %}
                          <form name="registerform" method="post" action="{% url 'members:register' %}" class="user_reg">
                          {% csrf_token %}
                          {{ form.non_field_errors }}
                                <p>
                                    <label for="user_login">用户名 *<br />
                                        {{ form.username }}
                                    </label>
                                    {{ form.username.errors }}
                                </p>

                                <p>
                                    <label for="user_email">电子邮件地址 *<br />
                                        {{ form.email }}
                                    </label>
                                    {{ form.email.errors }}
                                </p>

                                <p>
                                    <label for="user_pwd1">密码(至少8位) *<br />
                                        {{ form.password1 }}
                                    </label>
                                    {{ form.password1.errors }}
                                </p>

                                <p>
                                    <label for="user_pwd2">重复密码 *<br />
                                        {{ form.password2 }}
                                    </label>
                                    {{ form.password2.errors }}
                                </p>


                                <p class="submit">
                                    <input type="hidden" name="user_reg" value="ok" />
                                    <input id="submit" name="submit" type="submit" value="提交注册" />
                                </p>
                           </form>
                        {% endif %}

                    </div>

                    <div class="entry-content">
                        <div class="single-content">
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </article>
        </main>
    </div>
{% endblock %}

