{% load dashboard_extras %}
{% load highlight %}
{% load fullurl %}
<!DOCTYPE html>
<html lang="zh-CN">

    {% include 'dashboard/tags/head.html' %}

<body class="archive search search-results category category-uncategorized category-1">
    <div id="page" class="hfeed site">

        {% load_banner request.user %}

        <div id="content" class="site-content">
            <!-- list -->
            {% if query %}
            <section id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <ul class="search-page">
                        {% for result in page.object_list %}
                            <li class="search-inf">{{ result.object.update_time }}</li>
                            <li class="entry-title"><a href="{% buildfullurl result.object.get_absolute_url %}" rel="bookmark">{% highlight result.object.title with query %}</a></li>
                        {% empty %}
                            <section class="no-results not-found">

                                <div class="post">


                                    <header class="entry-header">
                                        <h1 class="page-title">没有您要找的文章！</h1>
                                    </header><!-- .page-header -->

                                    <p>可以尝试使用下面的搜索功能，查找您喜欢的文章！</p>
                                    <div class="searchbar">
                                        <form method="get" id="searchform" action="{% fullurl 'haystack_search' %}">
                                            <span class="search-input">
                                                <input type="text" value="" name="q" id="s" placeholder="输入搜索内容" required="">
                                                <button type="submit" id="searchsubmit"><i class="be be-search"></i></button>
                                            </span>
                                        </form>
                                    </div> <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

                                </div><!-- .page-content -->
                            </section>
                            <!-- .no-results -->
                        {% endfor %}
                    </ul>

                </main>

                <nav id="nav-below">
                    <div class="nav-next"></div>
                    <div class="nav-previous"><a href="http://www.xuefogm.com/page/2/?s=%E4%BD%9B&#038;cat=1"></a></div>
                </nav>

                <nav class="navigation pagination" role="navigation">
                    <h2 class="screen-reader-text">文章导航</h2>
                    <div class="nav-links">
                        {% if page.has_previous %}
                            <a class="prev page-numbers" href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><i class="be be-arrowleft"></i></a>
                        {% endif %}
                        {% for p in page.paginator.page_range %}
                            {% ifequal p page.number %}
                                <span class="page-numbers current"><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></span>
                            {% else %}
                                <a class="page-numbers" href="?q={{ query }}&amp;page={{ p }}"><span class="screen-reader-text">第 </span>{{ p }}<span class="screen-reader-text"> 页</span></a>
                            {% endifequal %}
                        {% endfor %}
                        {% if page.has_next %}
                            <a class="next page-numbers" href="?q={{ query }}&amp;page={{ page.next_page_number }}"><i class="be be-arrowright"></i></a>
                        {% endif %}
                </nav>
            </section>
            {% endif %}

            <!-- img -->
            <!-- normal -->
        </div><!-- .site-content -->
        <div class="clear"></div>
        {% load_footer %}
        {% load_login_pop %}
        {% load_scroll %}
    </div><!-- .site -->
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/editor.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/slides.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/jquery.qrcode.min.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/sticky.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/selectordie.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/jquery-ias.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/jquery.lazyload.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/tipso.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/script.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/flexisel.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/superfish.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/gb2big5.js' %}"></script>
    <script type='text/javascript' src="{% fullstatic 'dashboard/js/wpzm.js' %}"></script>
    <script type="text/javascript">
        var ias = $.ias({
            container: "#main",
            item: "article",
            pagination: "#nav-below",
            next: "#nav-below .nav-previous a",
        });
        ias.extension(new IASTriggerExtension({
            text: '<i class="be be-circledown"></i>更多',
            offset: 3,
        }));
        ias.extension(new IASSpinnerExtension());
        ias.extension(new IASNoneLeftExtension({
            text: '已是最后',
        }));
        ias.on('rendered', function(items) {
            $("img").lazyload({
                effect: "fadeIn",
                failure_limit: 70
            });
        })
    </script>
</body>

</html>
