{% load fullurl %}

<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <p style="text-align: center; color:#ccc">Copyright © 2016-{{ year }}
            <a style="color:#ccc" href="{% fullurl 'dashboard:index' %}">甲醛克星网</a> All Rights Reserved
            -<a style="color:#ccc" title="map" href="{% fullurl 'django.contrib.sitemaps.views.sitemap' %}"> 网站地图  </a>
        </p>
        <p style="text-align: center; color:#ccc">
            甲醛克星网，旨在为网友科普甲醛的危害，除甲醛最有效的方法和技巧；介绍最新甲醛检测治理的技术和产品；收集整理全国各地址甲醛治理机构和公司！
        </p>
        <p style="text-align: center;">
            <span style="color: #ccc;">本站货源均来自用户投稿，不代表本站立场，本站不承担任何由内容提供商发布信息所引起的争议和法律责任！</span>。
        </p>
    </div><!-- .site-info -->
</footer><!-- .site-footer -->
