{% load fullurl %}

<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="site-info">
        <p style="text-align: center; color:#ccc">Copyright © 2016-{{ year }}
            <a style="color:#ccc" href="{% fullurl 'dashboard:index' %}">甲醛克星网</a> All Rights Reserved
            -<a style="color:#ccc" title="map" href="{% fullurl 'django.contrib.sitemaps.views.sitemap' %}"> 网站地图  </a>
        </p>
        <p style="text-align: center; color:#ccc">
            甲醛克星网，旨在为网友科普甲醛的危害，除甲醛最有效的方法和技巧；介绍最新甲醛治理的技术和产品；汇集全国各地区专业甲醛检测机构和除甲醛公司！
        </p>
    </div><!-- .site-info -->
</footer><!-- .site-footer -->
