{% extends 'share_layout/base.html' %}
{% load dashboard_extras %}
{% load fullurl %}

{% block header %}
    <title> {{ head_title }}-甲醛克星网</title>
    <meta name="description" content="{{ head_desc }}" />
    <meta name="keywords" content="{{ head_keywords }}" />
{% endblock %}

{% block breadcrumb %}
        <nav class="breadcrumb">
            <div class="bull"><i class="be be-volumedown"></i></div>
            <div id="scrolldiv">
                <div class="scrolltext">
                    <ul>
                        {% for article in bd_articles %}
          		          	  <li class="scrolltext-title"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">{{ article.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#scrolldiv").textSlider({
                        line: 1,
                        speed: 300,
                        timer: 6000
                    });
                })
            </script>
        </nav>
{% endblock %}

{% block primary %}
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <div id="slideshow" class="wow fadeInUp" data-wow-delay="0.3s">
                        <ul class="rslides" id="slider">
                            {% for ad in latest_ad_left_up_round %}
	                              <li>
                                      <a href="{% buildfullurl ad.get_absolute_url %}" rel="bookmark"><img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" /></a>
                                    <p class="slider-caption">{{ ad.title }}</p>
	                              </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- 最新文章 -->
                    <div class="cms-news sort" name="2">
                        <div class="line-four">
                        {% for ad in latest_ad_left_up %}
                        <div class="xl4 xm4">
                            <div class="picture-h wow" data-wow-delay="0.3s">
                                <figure class="picture-h-img">
                                    <a class="videor" href="{% buildfullurl ad.get_absolute_url %}">
                                        <img src="{% buildfullurl ad.image_url %}" data-original={% buildfullurl ad.image.url %} alt="{{ ad.title }}" />
                                    </a>
                                    <h2 class="posting-title">
                                        <a href="{% buildfullurl ad.get_absolute_url %}" rel="bookmark">{{ ad.title }}</a>
                                    </h2>
                                </figure>
                            </div>
                        </div>
                        {% endfor %}
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    {% for category in categorys %}
                    <div class="line-one sort" name="6">

                        <div class="cat-box wow fadeInUp" data-wow-delay="0.3s">
                          <h3 class="cat-title"><a href="{% buildfullurl category.get_absolute_url %}"><span class="title-i"><span></span><span></span><span></span><span></span></span>{{ category.name }}<span class="more-i"><span></span><span></span><span></span></span></a></h3>
                            <div class="clear"></div>
                            <div class="cat-site">
                                <div class="line-one-img one-img-5">
                                    {% if category.get_published_articles.0 %}
                                        <figure class="line-one-thumbnail">
                                            <span class="load">
                                                <a href="{% buildfullurl category.get_published_articles.0.get_absolute_url %}">
                                                  <img src="{% buildfullurl category.get_published_articles.0.image.url %}" data-original={% buildfullurl category.get_published_articles.0.image.url %} alt="{{ category.get_published_articles.0.title }}" />
                                                </a>
                                            </span>
                                        </figure>
                                    {% else %}
                                        <figure class="line-one-thumbnail">
                                           <span class="load"><img src="{% fullstatic 'dashboard/picture/loading.png '%}" data-original={% fullstatic 'dashboard/picture/default.jpg' %} alt="甲醛克星网" /></span>
                                        </figure>
                                    {% endif %}
                                    {% if category.get_published_articles.1 %}
                                        <figure class="line-one-thumbnail">
                                            <span class="load">
                                                <a href="{% buildfullurl category.get_published_articles.1.get_absolute_url %}">
                                                  <img src="{% buildfullurl category.get_published_articles.1.image.url %}" data-original={% buildfullurl category.get_published_articles.1.image.url %} alt="{{ category.get_published_articles.1.title }}" />
                                                </a>
                                            </span>
                                        </figure>
                                    {% else %}
                                        <figure class="line-one-thumbnail">
                                            <span class="load"><img src="{% fullstatic 'dashboard/picture/loading.png '%}" data-original={% fullstatic 'dashboard/picture/default.jpg' %} alt="甲醛克星网" /></span>
                                        </figure>
                                    {% endif %}
                                    <div class="clear"></div>
                                </div>
                                <ul class="cat-one-list">
                                    {% for article in category.get_published_articles|slice:":5" %}
                                        <li class="list-date">{{ article.update_time|date:"m/j" }}</li>
                                        <li class="list-cat-title"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark">{{ article.title }}</a></li>
                                    {% endfor %}
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="tab-site wow fadeInUp sort" data-wow-delay="0.3s" name="10">
                        <div id="layout-tab" class="tab-product">
                            <h2 class="tab-hd">
                                <span class="tab-hd-con"><a href="{% buildfullurl ep_category.get_absolute_url %}">环保知识</a></span>
                                <span class="tab-hd-con"><a href="{% buildfullurl trade_category.get_absolute_url %}">行业资讯</a></span>
                            </h2>

                            <div class="tab-bd dom-display">

                                <ul class="tab-bd-con current">
                                    {% for new in ep %}
                                    <li class="list-title"><a href="{% buildfullurl new.get_absolute_url %}" rel="bookmark"><i class="be be-arrowright"></i>{{ new.title }}</a></li>
                                    {% endfor %}
                                </ul>

                                <ul class="tab-bd-con">
                                    {% for new in trade %}
                                    <li class="list-title"><a href="{% buildfullurl new.get_absolute_url %}" rel="bookmark"><i class="be be-arrowright"></i>{{ new.title }}</a></li>
                                    {% endfor %}
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </main>
            </div>
{% endblock %}

{% block sidebar %}
            <div id="sidebar" class="widget-area cms-sidebar">
                <div class="wow fadeInUp" data-wow-delay="0.5s">
                    {% load_sidebar_flow_info %}
                    {% load_sidebar_recomm %}
                    {% load_sidebar_source_goods %}
                    {% load_sidebar_tag %}
                </div>
            </div>
{% endblock %}

{% block below-main %}
            <div id="below-main">
                <div class="wow fadeInUp sort" data-wow-delay="0.3s" name="14">
                    <div class="clear"></div>
                    <ul id="flexisel">
                        {% for ad in latest_ad_left_below_round %}
                            <li>
                                <a href="{% buildfullurl ad.get_absolute_url %}"><img src="{% buildfullurl ad.image_url %}" alt="{{ ad.title }}" /></a>
                                <h2 class="flexisel-h-title"><a href="{% buildfullurl ad.get_absolute_url %}" rel="bookmark">{{ ad.title }}</a></h2>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="line-big sort" name="15">

                    {% for category in latest_ad_left_below %}
                    <div class="xl3 xm3">
                        <div class="cat-box wow fadeInUp" data-wow-delay="0.3s">
                            <h3 class="cat-title"><a href="{% buildfullurl category.get_absolute_url %}"><span class="title-i"><span></span><span></span><span></span><span></span></span>{{ category.name }}<span class="more-i"><span></span><span></span><span></span></span></a></h3>
                            <div class="clear"></div>
                            <div class="cat-site">
                                <h2 class="entry-title"><a href="{% buildfullurl category.get_published_articles.0.get_absolute_url %}" rel="bookmark">{{ category.get_published_articles.0.title }}</a></h2>
                                <div class="cat-img-small">
                                    <figure class="thumbnail">
                                        <span class="load">
                                            <a href="{% buildfullurl category.get_published_articles.0.get_absolute_url %}"><img src="{% buildfullurl category.get_published_articles.0.image.url %}" data-original={% buildfullurl category.get_published_articles.0.image.url %} alt="{{ category.get_published_articles.0.title }}" /></a>
                                        </span>
                                    </figure>
                                              <div class="cat-main"> {{ category.get_published_articles.0.content|striptags|slice:'150'|safe }} </div>
                                </div>

                                <div class="clear"></div>

                                <ul class="cat-list">
                                    {% for article in category.get_published_articles|slice:"1:6" %}
                                        <li class="list-date">{{ article.update_time|date:"m/j" }}</li>
                                        <li class="list-title"><a href="{% buildfullurl article.get_absolute_url %}" rel="bookmark"><i class="be be-arrowright"></i>{{ article.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
{% endblock %}

{% block links-box %}
        <div class="links-box">
            <div id="links">
                {% for link in links %}
                    <ul class="lx7"><li class="link-f link-name wow fadeInUp" data-wow-delay="0.3s"><a href="{{ link.url }}">{{ link.name }}</a></li></ul>
          	    {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
{% endblock %}
