
@font-face {font-family: "zm";
  src: url('../fonts/font_564965_qh7d0ejbukcblnmi_1.eot'); /* IE9*/
  src: url('../fonts/font_564965_qh7d0ejbukcblnmi_1.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/bcd2f6e314eb432f8ca9e0cc058bf97a.woff') format('woff'),
  url('../fonts/font_564965_qh7d0ejbukcblnmi_1.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/font_564965_qh7d0ejbukcblnmi_1.svg') format('svg'); /* iOS 4.1- */
}

.zm {
  font-family:"zm" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zm-shipin:before { content: "\e600"; }

.zm-lunhuiyan:before { content: "\e620"; }

.zm-jiaoliu:before { content: "\e60d"; }

.zm-createtask:before { content: "\e6ef"; }

.zm-shipin1:before { content: "\e677"; }

.zm-shipin2:before { content: "\e603"; }

.zm-shuji:before { content: "\e612"; }

.zm--:before { content: "\e62a"; }

